<!-- Include Header -->
<%- include('../include/_header')%>
<!-- Include Header -->

<!-- Main Section -->

<main style="margin-top: 100px; margin-left: 30px">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">All Videos</li>
        </ol>
      </nav>
    </div>
  </div>

  <section style="margin-right: 20px">
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          <th>Videos Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>This is first video title</td>
          <td class="text-center">
            <a href="/videos-details">
              <button type="button" class="btn btn-primary">View</button>
            </a>
            <a href="">
              <button type="button" class="btn btn-primary mt-4">Edit</button>
            </a>
          </td>
        </tr>

        <tr>
          <td>Lorem ipsum dolor sit amet consectetur</td>
          <td class="text-center">
            <button type="button" class="btn btn-primary">View</button>
            <button type="button" class="btn btn-primary mt-4">Edit</button>
          </td>
        </tr>

        <tr>
          <td>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
            vitae, atque sequi n!
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-primary">View</button>
            <button type="button" class="btn btn-primary mt-4">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<!-- Main Section -->

<!-- Include footer -->
<%- include('../include/_footer')%>
<!-- Include footer -->
