<!-- Include Header -->
<%- include('../include/_header')%>
<!-- Include Header -->

<!--Main layout-->
<main>
  <div class="text-center" style="margin-top: 100px; margin-left: 0px">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Videos Details
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="ratio ratio-16x9">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/uPC7_Pq06PY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe
      >title="YouTube video"
    </div>

    <h1 class="py-3">Vidasascasdascasadsadsdasdasd eo</h1>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse,
      debitis odio dolor molestiae corporis, dolore magni ipsum maiores qui
      minima cum magnam doloribus blanditiis, deleniti libero minus consequuntur
      delectus.
    </p>
  </div>
  <div class="text-center mt-5">
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-primary">Delete</button>
  </div>
</main>
<!--Main layout-->

<!-- Include footer -->
<%- include('../include/_footer')%>
<!-- Include footer -->
