<!-- Include Header -->
<%- include('../include/_header')%>
<!-- Include Header -->

<!--Main layout-->
<main style="margin-left: 30px; margin-right: 30px; margin-top: 80px">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              News Details
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="text-center" style="padding-left: 20px; padding-right: 20px">
    <img src="./img/icon.png" class="img-fluid" alt="..." />
    <h1 class="py-5">This is the title</h1>
    <p class="text-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem esse,
      debitis odio dolor molestiae corporis, dolore magni ipsum maiores qui
      minima cum magnam doloribus blanditiis, deleniti libero minus consequuntur
      delectus.
    </p>
  </div>
</main>
<!--Main layout-->

<!-- Include footer -->
<%- include('../include/_footer')%>
<!-- Include footer -->
